version: '3'

services:
  api:
    container_name: horizon_api
    build:
      context: ./horizon-api
      dockerfile: Dockerfile
    ports:
      - '3000:8080'
    command: go run .
    tty: true

  mysql:
    image: mysql
    container_name: share_reader_mysql
    env_file: ./mysql/mysql.env
    environment:
      - TZ=Asia/Tokyo
    ports:
      - 3306:3306
    restart: always
    volumes: 
      - datastore:/var/lib/mysql
      - ./mysql/database:/docker-entrypoint-initdb.d

volumes: 
  datastore:
    driver: local